# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_LOTUS58_BLE_LEFT
    def_bool $(shields_list_contains,lotus58_ble_left)

config SHIELD_LOTUS58_BLE_RIGHT
    def_bool $(shields_list_contains,lotus58_ble_right)
